In [3]:
def sum_function(x, y):
    '''
    Finds the sum of two numbers, prints the result.
    
    Args:
        x: the first number to sum
        y: the second number to sum

    Returns:
        N/A
    '''
    print(x)
    print(y)
    print(f"The sum of x: {x} and the sum of y: {y} is {x + y}")

sum_function(6,5)
# or sum_function(y = 5, x = 6) - can specify x and y if order is not the same

6
5
The sum of x: 6 and the sum of y: 5 is 11

In [5]:
# can also det defaults for functions

def sum_function(x=10, y=5):
    print(x)
    print(y)
    print(f"The sum of x: {x} and the sum of y: {y} is {x + y}")

sum_function(y=7)

10
7
The sum of x: 10 and the sum of y: 7 is 17

In [11]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer


def divide_function(a, b):
    if a>b:
        c = a/b
        print(c)
    else:
        c = b/a
        print(c)

divide_function(12,24)
# if we do short lines of comments, use #
# if long comments, use ''' docstrings '''
# all functions should have docstrings

2.0

In [17]:
def sum_prod(x, y):
    sum_xy = x + y
    prod_xy = x * y

    return sum_xy, prod_xy # returns tuple

sum_xy = sum_prod(5, 5)
print(sum_xy)

# function scope - variables used inside functions are only accessible inside functions 
# (different to for loops which have global scope)

# functions can return bits of a tuple as separate elements

(10, 25)

In [18]:
def sum_prod(x, y):
    sum_xy = x + y
    prod_xy = x * y
 
    return sum_xy, prod_xy
 
x_plus_y, x_times_y = sum_prod(5, 5)
 
print(x_plus_y)
print(x_times_y)

10
25

In [24]:
# write a function that returns x / y and x - y,
# # always dividing the biggest by the smallest number
# # and always taking the smallest fromt he biggest


def divide_xy(x, y):
    if x > y:
        div = x/y
        sub = x - y
    else:
        div = y/x
        sub = y - x
    return div, sub

divide, subtract = divide_xy(24,4)
print(divide)
print(subtract)

# or 

def minus_divide(x,y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    subtract = big - small
    division = big / small
 
    return subtract, division
 
sub, div = minus_divide(70, 100)
 
print(sub, div)

6.0
20
30 1.4285714285714286

In [25]:
# function that finds the square of a number

def square_x(x):
    return x**2

print(square_x(10))

100

In [27]:
def square_x(x):
    return x**2

def x_power_x(x):
    return x**x

def big_maths(x):
    sq = square_x(x)
    x_p_x = x_power_x(x)
    return sq, x_p_x
print(big_maths(5))

(25, 3125)

In [28]:
def prod_xy(x, y):
    return x * y
 
def sum_xy(x, y):
    return x + y
 
 
def prod_sum(x, y, i=None, j=None):
    if i == None:
        i = x
    if j == None:
        j = y
 
    return prod_xy(x, y), sum_xy(i, j)
 
 
print(prod_sum(5, 10, 7, 14))

(50, 21)

In [35]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math

def square(x):
    square_x = x**2
    return square_x

def sqrt(x):
    root_x = math.sqrt(x)
    return root_x

def square_and_root(x):
    root_x = sqrt(x)
    square_x = square(x)
    return root_x, square_x

print(square_and_root(9))

(3.0, 81)

In [44]:
import pandas as pd

df = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv")

def ethnic_check(row):

    if row in ["WIRT","WIRI","WBRI","WROM","WOTH"]:
        return "white"
    else:
        return "non-white"

df["white"] = df["Ethnicity"].apply(ethnic_check)

df

     Unnamed: 0        LAchildID Ethnicity      white
0             0  RND000215205141      WIRT      white
1             1  RND000824303014      WROM      white
2             2  RND000750143123      AOTH  non-white
3             3  RND000909164501      MWBC  non-white
4             4  RND000382171815      APKN  non-white
..          ...              ...       ...        ...
327         327  RND000112711501      WOTH      white
328         328  RND000513120794      WROM      white
329         329  RND000541643134      BCRB  non-white
330         330  RND000404939452      AIND  non-white
331         331  RND000589802835      WBRI      white

[332 rows x 4 columns]

In [77]:
'''
In child identifiers table, write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 18+
convert value to a datetime
find the difference between the datetime and today
write if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a new column
'''

ci = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv")
ci

def age_group(date):
    bd = pd.to_datetime(ci["PersonBirthDate"], format = "%Y-%m-%d", errors = "coerce")
    age = pd.to_datetime("today") - bd
    age = age / pd.Timedelta(365.25, "d")
    if age <= 5:
        return "0 - 5"
    elif age <= 11:
        return "6 - 11"
    elif age <= 17:
        return "12 - 17"
    else:
        return "18+"

ci["age_group"] = ci["PersonBirthDate"].apply(age_group)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [56]:
ci = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv")

ci["PersonBirthDate"] = pd.to_datetime(ci["PersonBirthDate"])
ci["Age"] = pd.to_datetime("today") - ci["PersonBirthDate"]
ci

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,1679 days 13:49:00.007447
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,4824 days 13:49:00.007447
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2592 days 13:49:00.007447
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,3569 days 13:49:00.007447
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,1751 days 13:49:00.007447
...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,5118 days 13:49:00.007447
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2158 days 13:49:00.007447
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,945 days 13:49:00.007447
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,4006 days 13:49:00.007447
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,990 days 13:49:00.007447

In [78]:
import numpy as np
 
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
 
def age_bucket(date):
    bd = pd.to_datetime(date, format="%Y-%m-%d")
 
    age = pd.to_datetime('today') - bd
 
    age = age / pd.Timedelta(365.25, 'd')
 
    if age < 6:
        return '0 - 5 years old'
    elif age < 12:
        return '6 - 11 years old'
    elif age < 18:
        return '12 - 17 years old'
    else:
        return '18+ years old'
   
df['Age bucket'] = df['PersonBirthDate'].apply(age_bucket)
 
df[['PersonBirthDate', 'Age bucket']]

    PersonBirthDate         Age bucket
0        2019-12-06    0 - 5 years old
1        2011-04-27  12 - 17 years old
2        2017-06-06   6 - 11 years old
3        2014-10-03   6 - 11 years old
4        2019-09-25    0 - 5 years old
..              ...                ...
327      2010-07-07  12 - 17 years old
328      2018-08-14    0 - 5 years old
329      2021-12-09    0 - 5 years old
330      2013-07-23   6 - 11 years old
331      2021-10-25    0 - 5 years old

[332 rows x 2 columns]